<div class='form-container'>
  <h3>Post a topic</h3>
  <form action='/topics' method='POST'>
    <h4><input type='text' name='topic[heading]'></h4>
    <textarea name='topic[description]' rows='30' cols='20'></textarea>
    <input class='submit-button' type='submit' value='Create Topic'>
  </form>
</div>
